@use './reset';
@use './variables';

.wrapper {
    background-color: variables.$main-color;
    width: 100%;
}

.container {
    padding: 0 24px;
}

/* header */
.header {
    padding: 32px 0px;
    display: flex;
    justify-content: space-between;
    &__menu, &__search {
        width: 48px;
    height: 48px;
    background-color: variables.$dark-light-color;
    border-radius: 16px;
    position: relative;
    }
}

/* pseudo elements */
.header__menu::before,.header__menu::after {
    content: '';
    display: block;
    position: relative;
    height: 2px;
    border-radius: 1px;
    background-color: variables.$light-color;
}

.header__menu::before {
    width: 10px;
    left: 44%;
    transform: translate(-50%);
    top: 35%;
}

.header__menu::after {
    width: 16px;
    left: 50%;
    transform: translate(-50%);
    top: 55%;
}

.header__search::before {
    content: '';
    display: block;
    background: url('../img/telephone.png');
    background-size: contain;
    position: relative;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.promotion {
    position: relative;
    border-radius: 16px;
    padding: 16px;
    background-color: variables.$dark-light-color;
    &__images {
        position: relative;
        height: 200px;
    }
    &__image {
        position: absolute;
    }
    &__image-first {
        left: 0%;
        width: 120px;
    }
    &__image-second {
        right: 0%;
        width: 140px;
        transform: rotate(-10deg);
    }
    &__image-third {
        bottom: 0%;
        right: 15%;
        width: 140px;
    }
    &__image-plus {
        right: 45%;
        top: 25%;
    }
    &__title {
        font-family: variables.$title-font;
        color: variables.$title-color;
        font-size: 36px;
        line-height: 36px;
        font-weight: 700;
        text-align: center;
    }
}

.product {
    &__main-title {
        padding: 32px 0px 8px;
        color: #F1F1F1;
        font-size: 28px;
        font-weight: 300;
        font-family: variables.$text-font;
    }
    &__item {
        position: relative;
        color: #F1F1F1;
        font-family: variables.$text-font;
        padding: 24px;
        margin: 16px;
        max-width: 200px;
        min-height: 350px;
        border-radius: 24px;
        background-color: variables.$dark-light-color;
    }
    &__photo {
        width: 150px;
        margin: 0 auto;
    }
    &__title {
        font-size: 20px;
        padding: 24px 0px 5px;
        font-weight: 500;
    }
    &__text {
        font-size: 15px;
        font-weight: 300;
    }
    &__price {
        position: absolute;
        bottom: 32px;
        right: 18px;
        color: variables.$alarm-color;
        font-size: 16px;
    }
}

.custom-arrow {
    position: absolute;
    width: 25px;
    height: 25px;
    z-index: 100;
    top: 50%;
}
.custom-arrow-right {
    right: 0;
}

.custom-arrow-left {
    left: 0;
    transform: rotate(180deg);
}