@use './reset';
@use './variables';

.wrapper {
    background-color: variables.$main-color;
    width: 100%;
}

.container {
    padding: 0 24px;
}

/* header */
.header {
    padding: 32px 0px;
    display: flex;
    justify-content: space-between;
    &__menu, &__search {
        width: 48px;
    height: 48px;
    background-color: variables.$dark-light-color;
    border-radius: 16px;
    position: relative;
    }
}

/* pseudo elements */
.header__menu::before,.header__menu::after {
    content: '';
    display: block;
    position: relative;
    height: 2px;
    border-radius: 1px;
    background-color: variables.$light-color;
}

.header__menu::before {
    width: 10px;
    left: 44%;
    transform: translate(-50%);
    top: 35%;
}

.header__menu::after {
    width: 16px;
    left: 50%;
    transform: translate(-50%);
    top: 55%;
}

.header__search::before {
    content: '';
    display: block;
    background: url('../img/telephone.png');
    background-size: contain;
    position: relative;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.promotion {
    position: relative;
    border-radius: 16px;
    padding: 16px;
    background-color: variables.$dark-light-color;
    &__images {
        position: relative;
        height: 200px;
    }
    &__image {
        position: absolute;
    }
    &__image-first {
        left: 0%;
        width: 120px;
    }
    &__image-second {
        right: 0%;
        width: 140px;
        transform: rotate(-10deg);
    }
    &__image-third {
        bottom: 0%;
        right: 15%;
        width: 140px;
    }
    &__image-plus {
        right: 45%;
        top: 25%;
    }
    &__title {
        font-family: variables.$title-font;
        color: variables.$title-color;
        font-size: 36px;
        line-height: 36px;
        font-weight: 700;
        text-align: center;
    }
}